body {
  background: var(--color-background);
  color: var(--color-text-main);
  font-size: 18px;
}

form > .input-group {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form > .input-group > input[type='text'],
form > .input-group input[type='password'] {
  padding: 10px;
  background: var(--color-background);
  border: 2px transparent var(--color-text-main);
  border-bottom: 2px solid;
  border-radius: 5px 5px 0px 0px;
  font-size: 1.2em;
}

form > .input-group > label {
  font-size: 1.2em;
}

form > .input-group > button {
  padding: 15px 50px;
  background: var(--color-background);
  border: 2px var(--color-text-main) solid;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

form > .input-group > button:hover {
  background: var(--color-hover);
}

.global-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background: var(--color-container);
  margin: 30px 0px;
  border-radius: 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--nav-color-background);
  color: var(--nav-color-text);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

nav > ul > li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
}

nav > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--nav-color-text);
  height: 100%;
  width: 100%;
  min-width: 100px;
  text-decoration: none;
  border-radius: 5px;
}

nav > ul > li > a:hover {
  background: var(--nav-color-hover);
}

nav > ul > li > a > h1 {
  padding: 10px;
}

nav > ul > li > a > p {
  padding: 5px;
  margin: 0px;
  font-weight: bold;
}

.game-screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  height: calc(100vh - 117px);
  width: 100vw;
}

.game-screen > .players {
  background: var(--color-container);
  width: 100%;
}

.game-screen > .play-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: var(--color-container);
  border-left: 2px solid var(--color-text-main);
}

.game-screen > .play-area > .deck,
.game-screen > .play-area > .discard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-screen > .play-area > .deck > img,
.game-screen > .play-area > .discard > img {
  height: 40vh;
  margin: 20px;
  margin-bottom: 60%;
}

.game-screen > .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: var(--color-container);
  border-left: 2px solid var(--color-text-main);
}

.game-screen > .chat > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.game-screen .cards {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30vh;
  border-top: 2px solid var(--color-text-main);
  background: var(--color-container);
  bottom: 0px;
  left: 0px;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transform: translate(0px, 15vh);
          transform: translate(0px, 15vh);
}

.game-screen .cards:hover {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.game-screen .cards > img {
  height: 70%;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.game-screen .cards > img:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.game-screen .cards > img.selected {
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
}

.game-screen .cards > img.selected:hover {
  -webkit-transform: translate(0, -10%) rotate(10deg);
          transform: translate(0, -10%) rotate(10deg);
}
/*# sourceMappingURL=App.css.map */